body {
  font-family: "Josefin Sans", sans-serif;
  & h1 {
    font-family: "jomhuria", sans-serif;
    text-decoration: underline;
    font-size: 6em;
  }
  & h2 {
    font-family: "Jomhuria", sans-serif;
  } 
}

.current-page {
  text-decoration: underline;
}

.align-far-right {
  justify-content: flex-end;
}

.nav-padding {
  padding: 2%;
}

.btn-dark {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.nav-item {
  margin-right: 3%;
}

.nav-item {
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0.5em;
}

.icon-row {
  display: flex;
  justify-content: flex-start;
}

.icon-row img {
  width: 20px;
  height: 20px;
  margin: 10% 10px 1% 0;
  opacity: 0.5;
}

.container {
  margin: 0 auto;
}

.custom-link {
  text-decoration: none;
}
